.grid-container {
    display: float;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    grid-auto-flow: column;
    display: float
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 20px;
    text-align: center;
    width: 100%
}

.grid-row {
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 100px;
}
